.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

body {
  background: linear-gradient(90deg, black 50%, white 50%);
  color: deeppink;
  font-size: 25px;

  font-family: "Kosugi Maru", sans-serif;

  text-align: center;
}
h1 {
  color: white;
}
h2 {
  color: white;
}

h3 {
  color: gray;
}

.fav {
  color: deeppink;
}

.background {
  margin: auto;
  background-position: center;
  height: 30vh;
  background: #a4003e;
  width: 70%;
  padding: 30px;
  border-radius: 25px;
}

.box1 {
  background: pink;
  width: 50%;
  padding: 30px;
  border-radius: 25px;
  text-align: left;
}

.elite {
  background: pink;
  width: 50%;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
}

.bad {
  background: pink;
  width: 50%;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
}

.song {
  background: pink;
  width: 50%;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
}
.link {
  color: deeppink;
}
.link :hover {
  color: deeppink;
}

.name {
  margin: auto;
  background: lightgray;
  width: 20%;
  padding: 30px;
  border-radius: 25px;
}
