html,
body,
* {
  background: linear-gradient(90deg, black 50%, white 50%);
  color: deeppink;
  font-family: "Kosugi Maru", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  color: deeppink;
  background: #e0afa0;
  font-size: 30px;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.child {
  background: #e0afa0;
  border-radius: 25px;
  border: 1px solid #e0afa0;
  padding: 20px;
  width: 40vh;
  height: 40vh;
}
